.landing-form {
    margin: 0 auto;
    padding-top: 2.6em;
    text-align: center;
    font-size: 4em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #CB2222;
}

.landing-input {
    width: 80%;
    margin: 5%;
    font-size: 1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: #444;
}

.landing-button {
    font-size: 0.7em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;
    margin-bottom: 0.5em;
    background-color: rgb(255, 228, 205);
    border: 5px solid #DB3232 ;
    border-radius: 25px;
    color: #DB3232;
    outline: none;
}

.landing-button:hover {
    background-color: rgb(228, 196, 155);
    border: 5px solid rgb(180, 29, 29);
    cursor: pointer;
    color: rgb(180, 29, 29);
}

.landing-button:active {
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
       -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
            box-shadow: inset 0px 0px 5px #c1c1c1;
     outline: none;
}

.disable-selection {
    -moz-user-select: none; /* Firefox */
     -ms-user-select: none; /* Internet Explorer */
  -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
 -webkit-user-select: none; /* Chrome, Safari, and Opera */
 -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

.landing-error {
    border: solid 3px;
    width: 80%;
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    color: #D8000C;
    background-color: #FFD2D2;
    font-size: 1.5em;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    opacity: 0.75;    
    box-shadow: 0 0 3pt 2pt #D8000C;
}

.landing-background {
    background-image: url(../resources/landingbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.landing-root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.landing-footer-text {
    margin-top: auto;
    padding: 1em;
    text-align: right;
    font-size: 1.2em;
}

.heroText {
    text-align: center;
    font-size: 3em;
    color: #CB2222;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.small-print {
    text-align: center;
    font-size: 0.7em;
    margin: 0 auto;
    width: 65%;
}
