.message {
    margin: 1em;
    padding: 0.5em 1em;
    background-color: white;
    opacity: 0.8;
    border-radius: 15px;
}

.message-hr {
    border: 1px dashed;
}

.message-hash {
    font-size: 1em;
    font-family: monospace;
}

.message-time {
    font-size: 1.2em;
    font-family: monospace;
}

.message-content {
    font-family: cursive;
}

.message-copy-tag {
    font-size: 1.5em;
    opacity: 0.75;
    float: right;
    position: relative;
    display: inline-block;
}

.message-copy-tag:hover {
    cursor: pointer;
    opacity: 1;
}

.message-copy-tag:active {
    color: rgb(4, 36, 0);
    font-size: 1.8em
}