.main {
    display: inline-block;
    width: 100%;
    margin-bottom: 75px;
    word-wrap: break-all;
}

.board-heading {
    float:left;
}
.board-title {
    font-size: 2.8em;
    padding-right: 20px;
}

.tag {
    font-size: 1.2em;
    line-height: 2em;
}

.copy-tag {
    opacity: 0.75;
}

.copy-tag:hover {
    cursor: pointer;
    opacity: 1;
}

.copy-tag:active {
    color: rgb(4, 36, 0);
    font-size: 1.3em
}

.back-button {
    float: right;
    margin: auto 0 auto auto;
    height: auto;
    padding: 20px;
    font-size: 1.5em;
    background-color: rgb(255, 232, 170);
    border: 3px solid rgb(150, 133, 88);
    outline: none;
    white-space: nowrap;
    border-radius: 10px;
    cursor: pointer;
}

.back-button:hover {
    background-color: rgb(230, 206, 141);
    border: 3px solid rgb(131, 115, 72);
}

.boardPage {
    padding: 50px 50px 100px 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(28, 28, 32);
    font-size: 1.3em;
    font-weight: 500;  
}

.submit-message {
    background-color: rgb(255, 232, 170);
    border: 3px solid rgb(150, 133, 88);
    outline: none;
    white-space: nowrap;
    border-radius: 10px;
    cursor: pointer;
}

.submit-message:hover {
    background-color: rgb(230, 206, 141);
    border: 3px solid rgb(131, 115, 72);
}

.add-message-section {
    display: flex;
}

.add-message-section>button {
    float: right;
    margin: 0 0 0 auto;
    font-size: 1.2em;
    padding: 20px;
}

.submit-info {
    display: table;
    width: 80%;
    height: 120px;
    margin: 0 auto;
    padding-bottom: 30px;
}

.message-status {
    line-height: 1.2em;
    text-align: center;
    padding: 20px;
    margin: 20px;
    display: table-cell;
    vertical-align: middle;
    outline: none;
}

.message-title {
    text-align: center;
    font-size: 2.5em;
}

.error {
    color: #D8000C;
    background-color: #FFD2D2;
    box-shadow: 0 0 3pt 2pt #D8000C;
}

.info {
    color: #222;
    background-color: #DDD;
    outline: solid 3px;
    box-shadow: 0 0 3pt 2pt #222;
}

.success {
    color: rgb(10, 82, 14);
    background-color: rgb(177, 255, 153);
    outline: solid 3px;
    box-shadow: 0 0 3pt 2pt rgb(10, 82, 14);
}

.message-section {
    padding-bottom: 75px;
}

textarea {
    margin: 20px 0;
    font-size: 1.2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.author-input {
    margin: 20px 20px 20px 0;
    font-size: 1.2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 70%;
}

hr {
    border: 2px solid rgb(28, 28, 32);;
}

.wrapword{
    white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -webkit-pre-wrap; /*Chrome & Safari */ 
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    white-space: pre-wrap;       /* css-3 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    word-break: break-all;
    white-space: normal;
}

.textBox {
    width: 100%
}

.board-background {
    background-image: url(../resources/boardbg.jpg);
    background-repeat: repeat-y;
    background-size: cover;
    -webkit-filter: blur(8px);
    -moz-filter: blur(8px);
    -o-filter: blur(8px);
    -ms-filter: blur(8px);
    filter: blur(8px);
    opacity: 0.55;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.disable-selection {
    -moz-user-select: none; /* Firefox */
     -ms-user-select: none; /* Internet Explorer */
  -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
 -webkit-user-select: none; /* Chrome, Safari, and Opera */
 -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}
